.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

.row_head img {
    width: 200px;
    border-radius: 20px;
}
.row_head.second {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#define,small {
    color: var(--clr-primary2);
    width: 100%;
    text-align: center;
}

.body {
    color: black;
    margin: 1rem;
    text-align: justify;
    padding: 1em;
}