/* Basic */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*================================================================================================
/* preloader's property */

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    /*    25% {
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #007cc7;

    }*/

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    /* 75% {
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px #f9004d;
    }*/

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px #12232E;
}

span {
    color: #12232E;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: 2s ease-in-out linear transparent;

}

/* end working on preloader */
/*==================================================================================================================================

    /* colors */
:root {
    --clr-white: white;
    --clr-background: #12232E;
    --clr-secondary: #007cc7;
    --clr-green: #26d80b;
    --clr-special: #fcfc;
}

body {
    background-color: var(--clr-background);
    font-family: 'Inter';
    font-style: italic;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
}

.load_bg {
    z-index: 999999;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.ring {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}


#home {
    background-image: url(./images/background.jpg);
    color: var(--clr-white);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 1%;
}

.logo {
    color: var(--clr-white);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul {
    background-color: var(--clr-secondary);
    border-radius: 40px 0px 0px 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 14px;
}

nav ul li a:hover {
    color: var(--clr-green);
    transition: 0.4s;
}

.content {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content>img {
    border-radius: 20%;
    margin-top: 5em;
    margin-left: 6em;
    transform: translateY(-50);
}

.content p {
    width: 550px;
}

h2 {
    color: var(--clr-white);
    margin: 20px 0px 20px;
    margin-bottom: 50px;
}

h6 {
    color: var(--clr-special);
    letter-spacing: 2px;
    font-size: 20px;
}

#about {
    padding: 100px 0px;
    background-color: var(--clr-background);
    width: 100vw;
    height: 100vh;
}

#about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: var(--clr-white);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: var(--clr-white);
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

#portfolio {
    position:relative;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10vw;
    justify-content:center;

}
#portfolio img{
    width: 25em;
    height: 15em;
}