/* Basic */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*================================================================================================
/* preloader's property */

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    /*    25% {
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #007cc7;

    }*/

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    /* 75% {
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px #f9004d;
    }*/

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px #12232E;
}

span {
    color: #12232E;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: 2s ease-in-out linear transparent;

}



body {
    background-color: var(--clr-background);
    font-family: 'Inter';
    font-style: italic;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
}

.load_bg {
    z-index: 999999;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.ring {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

/* end working on preloader */
/*==================================================================================================================================

    /* colors */
:root {
    --clr-white: white;
    --clr-background: #12232E;
    --clr-secondary: #007cc7;
    --clr-green: #26d80b;
    --clr-special: #fcfc;
    --clr-input-bg: #203647;
    --clr-footer-bg: #065C90;
    --clr-link-color: var(--clr-white);
    --clr-link-hover-color: var(--clr-white);
}

small {
    margin-top: 6em 0;
}

button {
    background: var(--clr-secondary);
    border-radius: 60px;
    color: var(--clr-white);
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    border-style: none !important;
}

.home {
    background-image: url(./images/background.jpg);
    color: var(--clr-white);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 4%;
}


.logo {
    color: var(--clr-white);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul {
    background-color: var(--clr-secondary);
    border-radius: 40px 0px 0px 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: var(--clr-white);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 14px;
}

nav ul li a:hover {
    color: var(--clr-green);
    transition: 0.4s;
}

.content {
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content>img {
    border-radius: 20%;
    margin-top: 5em;
    margin-left: 6em;
    transform: translateY(-50);
}

.content p {
    width: 550px;
}

h2 {
    color: var(--clr-white);
    margin-left: 50%;
    margin-right: auto;
    margin-bottom: 50px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
}

h6 {
    color: var(--clr-special);
    letter-spacing: 2px;
    font-size: 20px;
}

.about {
    padding: 3rem 0px;
    background-color: var(--clr-background);
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.about-text h5 {
    color: var(--clr-white);
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.resume {
    display: flex;
    align-items: flex-start;
    margin-top: 2em;
}

.resume>.skills,
.resume>.education,
.resume>.certificates {
    margin-left: 1.5em;
}

#portfolio {
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
    justify-content: center;
    background-image: url(./images/portfolio.jpg);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5em;
    row-gap: 10vh;
}

.portfolio img {
    width: 20em;
    height: 12em;
}

.services {
    display: flex;
    flex-direction: column;
    margin: auto 5rem;
}

.service_type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    margin-bottom: 6em;
}

.web_img,
.soft_img,
.market_img,
.game_img {
    display: flex;
    margin-bottom: 1rem;
}

.icon {
    color: var(--clr-white);
    background-color: var(--clr-white);
}

.blog {
    display: flex;
    flex-direction: column;
    padding: 8em;
}

.subscribe input {
    background-color: var(--clr-input-bg);
}

.first_blog,
.second_blog {
    margin: auto 5rem;
    display: flex;
    flex-direction: row;
    padding: 2em;
    align-items: center;
}

.blog p {
    margin: 3em;
}



.blog_img {
    width: 20em;
    height: 12em;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact input {
    background-color: var(--clr-input-bg);
    ;
}

span.address {
    color: var(--clr-footer-bg);
    font-size: small;


    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
}

footer {
    background-color: var(--clr-footer-bg);
    height: 10vh;
    display: flex;
    align-items: center;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
}