@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --clr-primary: #0C73B5;
    --clr-secondary: #53ACE5;
    --clr-primary2: #102B3C;
    --clr-white: white;
    --clr-line: #999;
    --clr-hover: #bdcfff6b;
    --clr-btn-bg: #4496CB;
    --clr-active-bg: #235574;

}

/* prevent selection from distruction */
p::selection {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    border: 0;
    height: 0;
    border-top: 0.3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

h3 {
    color: var(--clr-white);
    margin: 1rem;
}

/*Paragraph*/
p {
    text-align: justify;
    line-height: normal;

}

body {
    background-color: var(--clr-primary);
}

header {
    display: flex;
    background-color: var(--clr-primary2);
    background-position: center;
    background-size: cover;
    padding: 0.5em;
    height: 100%;
    justify-content: space-between;
}

.left_hd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_hd div button {
    margin-right: 1em;
}

.left_hd h1 {
    background-color: var(--clr-primary2);
    color: var(--clr-primary);
    width: 60%;
}

.left_hd h1 span {
    color: var(--clr-white);
}

button {
    border-style: none;
    border-radius: 20px;
    padding: 0.8em 2em;
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

button a {
    color: var(--clr-white);
}

main {
    display: flex;
    flex-direction: column;
}

.main-top {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}

button:hover,
#dropdown_content a:hover {
    filter: blur(0.04em);
    color: var(--clr-hover);
    box-shadow: #1f435a 0px 30px 60px -12px inset, #1f435a 0px 18px 36px -18px inset;
}

.dropdown {
    display: inline-grid;
}

.dropdown_btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_btn:hover,
.dropdown_btn:focus {
    background-color: #2980B9;
}


#dropdown_content {
    visibility: hidden;
    display: inline-grid;
    position: relative;
    border-style: none;
    border-radius: 10px 10px 20px 20px;
    padding: 0.3em;
    cursor: pointer;
    background-color: var(--clr-primary);
}

#dropdown_content a {
    color: var(--clr-white);
    text-align: center;
}


.left {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-secondary);
    border-radius: 20px;
    margin: 0em 1em 4em 1em;
    padding-bottom: 0.5em;
    align-self: flex-end;
    justify-content: center;

}

.view_more {
    align-self: center;
    justify-self: center;
}

.top_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
}

.top_main div {
    border-color: var(--clr-primary2);
    margin-left: 1rem;
    margin-top: 2rem;
    padding: 1em;

}

.show_border {
    border-left-style: dashed;
    border-left-color: var(--clr-white);
    border-left-width: 1px;
}


.left a {
    color: black;

}

.left a h2 {
    color: var(--clr-white);

}

.right {
    margin: 4em 1em;
}

.blog {
    border-radius: 20px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
    cursor: pointer;
}

.blog:hover {
    background-color: var(--clr-active-bg);
}

.blog.hover {
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog.hover:hover {
    background-color: var(--clr-secondary);
}

.icon:hover {
    color: white;
}



.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 4em;
}

.article img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.article div {
    display: flex;
    flex-direction: column;
}

/* hide html element*/
.hidden {
    display: none;
}

/*show html element*/
.show {
    display: block;
}

.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

.row_head img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.row_head.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2,
.define,
small {
    color: white;
}

#define,
small {
    color: var(--clr-primary2);
    width: 100%;
    text-align: center;
}

.body {
    color: black;
    background-color: white;
    margin: 1rem;
    text-align: justify;
    padding: 1em;
    scroll-behavior: smooth;
    border-radius: 20px;
}

form {
    background-color: var(--clr-primary2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

#like {
    color: white;
    cursor: pointer;
}

#like:hover {
    color: black;
}

.text-editor {
    min-height: 200px;
    background-color: white;
    color: black;
}

.input-group,
.input-group1 {
    margin-bottom: 2em;
    border-radius: 20px;
}

.input-group1 input {
    width: 300px;
}

.submit {
    width: 200px;
}

#comments {
    background-color: var(--clr-secondary);
    padding-left: 2em;
}

